body {
 font-family: 'Fjalla One', sans-serif;
 background-color: #1C18F4;
}

.title {
 padding: 5px;
 border: 10px;
 font-size: 50px;
 color: white;
}

.about {
  padding: 5px;
  border: 10px;
  font-size: 25px; 
  color: white;
}

.newsletter {
  padding: 5px;
  border: 10px;
}
 
